

#div-container{
    font-size: 3em;
}

#debug{
    font-size: 1em;
    width: 600px;
    height: 100px;
    box-shadow: 9px 9px 20px green, inset 1px 1px 20px 0px white;
    background: linear-gradient(0deg, #50e450, #094604);
    padding: 10px;

    position: absolute;
    z-index: 10000000;
    top: calc(100% - 200px);
    left: calc(50% - 300px);

    color: #ffffffde;
}

#debug-content{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#debug-content::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#debug-content::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(0,110,0,0.5);
}

#debug-content::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0,110,0,0.7);
}

#debug-content::-webkit-scrollbar-thumb:active{
    background-color: rgba(0,110,0,0.4);
}

#debug-content::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: rgba(200,255,200,0.4);
    height:1px;
}

#debug-content::-webkit-scrollbar-corner{
    background-color: rgba(0,0,0,0);
}

#debug-content > table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 98%;
  max-width: 98%;
  border-style: hidden;
}

#debug-content > table td, #debug-content > table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#debug-content > table tr:nth-child(odd){background-color: #b3d4a896;}
#debug-content > table tr:nth-child(even){background-color: #6496547a;}

#debug-content > table tr:hover {background-color: #b3d4a8;}

#debug-content > table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.debug_table_actions {
    padding: 0px 8px 0px!important;
}

tr .debug_table_actions_container {
    display: none;
}

tr:hover .debug_table_actions_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.debug_table_effects_sub{
    margin: 0px;
    padding: 0px;
    list-style: disc;
    width: fill;
}

.debug_table_effects_sub > li{
    margin-left: -50%;
    width: fill;
}

.debug_action_play{display: none;}
.debug_action_pause{display: flex;}
tr[stopped] .debug_action_play{display:flex;}
tr[stopped] .debug_action_pause{display:none;}

.debug_action_play, .debug_action_pause{
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.debug_action_pause_svg{
    width: 100%;
    height: 100%;
    transform: scale(2) translate(2px, 10px);
    transition: scale 1s;
}

.debug_action_play_svg{
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    transition: scale 1s;
}

.debug_action_play_svg:hover{
    transform: rotate(-90deg) scale(1.2);
}

.debug_action_play_svg:active{
   transform: rotate(-90deg) scale(1.1);
}

.debug_action_pause_svg:hover{
    transform: scale(2.3) translate(2px, 10px);
}

.debug_action_pause_svg:active{
   transform: scale(2.2) translate(2px, 10px);
}

/* EXTENDABLE BOX */

extendable-box{
  --expended-height: fill;
  --reduced-height: 1em;
  --width: fill;
}

:host(extendable-box[open]) > .extendable-box-card > .extendable-box-svg {transform: rotate(0deg);}
:host(extendable-box) > .extendable-box-card {display: flex;}
:host(extendable-box[open]) > .extendable-box-card {overflow-y: auto;}
:host(extendable-box) > .extendable-box-card > .extendable-box-content {height: var(--reduced-height); overflow: hidden;}
:host(extendable-box[open]) > .extendable-box-card > .extendable-box-content {height: var(--expended-height); overflow: visible;}

.extendable-box-card{
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  overflow-y: hidden;
  width: var(--width);
}

.extendable-box-content{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 1em;
  width: fit-content;
  overflow-y: hidden;
  transition: height 0.5s;
}

.extendable-box-svg{
  width: 17px;
  height: 17px;
  transform: rotate(-90deg);
  transition: transform 0.5s;
  fill: var(--text-secondary-color);
  cursor: pointer;